@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/signin.css" />

<div class="div-login text-center">
    <form class="form-signin" asp-action="Index" asp-controller="Home">
        <label for="Login" class="sr-only">Login</label>
        <input type="text" name="Login" class="form-control" placeholder="Login" required autofocus />

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="Password" class="form-control" placeholder="Password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

        <div asp-validation-summary="All" class="text-danger mt-5 mb-3"></div>
    </form>
</div>